{% macro month() %}
{{ ["januari", "februari", "maart", "april", "mei", "juni", "juli", "augustus", "september", "oktober", "november", "december"][now().month-1] }}
{% endmacro %}

{% macro day() %}
{{ ["maandag", "dinsdag", "woensdag", "donderdag", "vrijdag", "zaterdag", "zondag"][now().weekday()] }}
{% endmacro %}

{% macro daypart() %}
{{ ["Goedenacht", "Goedemorgen","Goedemiddag", "Goedeavond"][(now().hour / 6) | int] }}
{% endmacro %}
