name: CI

# yamllint disable-line rule:truthy
on:
  push:
    branches:
      - main
  pull_request: ~

jobs:
  code-style:
    name: Code style
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Run prettier
        uses: creyD/prettier_action@v4.6
        with:
          prettier_options: --check .

      - name: Run yamllint
        uses: frenck/action-yamllint@v1

  validate-js-resources:
    name: Validate JavaScript resources
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Validate resources
        run: |
          ./scripts/validate_js_resources.sh

  check:
    name: Home Assistant config check
    needs:
      - code-style
      - validate-js-resources
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v5

      - name: Setup custom components
        run: |
          ./scripts/update_resources.sh custom_components

      - name: Mock secrets
        uses: golles/mock-yaml-secrets-action@v1
        with:
          configFile: .github/workflows/mock-secrets-config.json

      - name: Home Assistant configuration check
        uses: frenck/action-home-assistant@v1.4
        with:
          path: ${{ github.workspace }}
          version: stable
